
@font-face {font-family: "iconfont";
    src: url('../fonts1/iconfont.eot?t=1493891984958'); /* IE9*/
    src: url('../fonts1/iconfont.eot?t=1493891984958#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts1/iconfont.woff?t=1493891984958') format('woff'), /* chrome, firefox */
    url('../fonts1/iconfont.ttf?t=1493891984958') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts1/iconfont.svg?t=1493891984958#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:35px;
    font-style:normal;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-iconsf:before { content: "\e602"; }

.icon-qianjin:before { content: "\e641"; }

.icon-github:before { content: "\e7d6"; }

.icon-appicon06-copy:before { content: "\e611"; }

.icon-iconsf-copy:before { content: "\e610"; }

.icon-iconsf-copy1:before { content: "\e600"; }

.icon-github1:before { content: "\e603"; }

.icon-CN_csdnnet:before { content: "\e64f"; }

.icon-POP_GitHub:before { content: "\e67e"; }

.icon-POP_Skype:before { content: "\e687"; }

.icon-sheweichangyong:before { content: "\e605"; }
