/* public */
section {
    width: 100%;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 1140px;
    height: 100%;
    z-index: 0;
}

h2 {
    font-size: 46px;
    font-weight: normal;
}

/* nav */
#block-nav {
    z-index: 999;
    position: fixed;
    top: 0px;
    height: 52px;
    background-color: #42474B;
    color: white;
}

#block-nav a {
    padding: 0 25px;
    font-size: 14px;
    line-height: 52px;
    cursor: pointer;
    z-index: 1;
    color: white;
}

#block-nav a:hover {
    color: #999;
}

#logo {
    display: inline-block;
}

/* block-intro */
#block-intro {
    height: auto;
    width: 100%;
    background-color: #22B573;
    padding: 60px 0 100px;
}
#intro-icon1 {
    position: absolute;
    height: 400px;
    width: 300px;
    top: 80px;
    display: inline-block;
    border: 8px solid #ffffff;
    border-radius: 20px;
    /*background: #fe2f62;*/
    background: #ee5f5b;
    float: left;
}
#intro-icon2 {
    position: absolute;
    height: 400px;
    width: 300px;
    left: 10px;
    top: 10px;
    display: inline-block;
    border: 8px solid #ffffff;
    border-radius: 20px;
    background: #5bb75b;
}
#myPhoto {
    position: absolute;
    height: 400px;
    width: 300px;
    left: 10px;
    top: 10px;
    display: inline-block;
    border: 8px solid #ffffff;
    border-radius: 20px;
}

#intro-text {
    display: inline-block;
    margin: 40px 0 0 290px;
    color: white;
    height: 500px;
}

#intro-text li {
    height: 30px;
}

#intro-text ul li a {
    display: inline-block;
}

#intro-text ul li a:hover {
    border-bottom: 2px solid white;
}

#intro-text ul li span {
    display: inline-block;
    text-align: right;
    width: 70px;
}

#intro-text div {
    display: inline-block;
    width: 550px;
    margin-left: 120px;
}

#intro-text > div > p {
    margin-bottom: 26px;
}

/* block-skill */
#block-skill {
    height: auto;
    width: 100%;
    background-color: #22B573;
    color: #FFFFFF;
    padding-bottom: 160px;
    text-align: center;
}
#block-skill .tit3{
    margin-top: 60px;
}
#block-skill .content{
    width: auto;
    height: 330px;
    margin: 30px auto 0;
}
#block-skill .skill{
    display: inline-block;
    vertical-align: middle;
    width: 210px;
    height: 100%;
    margin: 5px 10px;
    background: #26B1B6;
    border: 1px solid #efefef;
    box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.35);
    border-radius: 2px;
    position: relative;
    transition: transform .8s ease;
    transform-style: preserve-3d;
}
#block-skill .skill .skill-title{
    font-size: 18px;
    width: 200px;
    height: 40px;
    margin: 10px auto;
    border-bottom: 3px solid #9C58B6;
}
#block-skill .skill dd{
    margin-top: 10px;
}
#block-skill .skill .skill-name{
    width: 100px;
    font-size: 14px;
    display: inline-block;
    position: relative;
    left: 0;
    top: 5px;
}
#block-skill .skill .skill-bar-wrap{
    height: 17px;
    width: 100px;
    background: #00796b;
    display: inline-block;
    border-radius: 20px;
    position: relative;
    top: 8px;
}
#block-skill .skill .skill-bar{
    height: 17px;
    background: #fff;
    border-radius: 20px 0 0 20px;
}
#block-skill .skill .backface {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    text-indent: 2em;
    text-align: justify;
    box-sizing: border-box;
    font-size: 14px;
    transform: rotateY(180deg) translateZ(1px);
    backface-visibility: hidden;
    overflow: hidden;
    background: #efefef;
}

/* block-workEXP */
#block-workEXP {
    height: auto;
    width: 100%;
    background-color: #22B573;
    color: #e7e7e7;
    padding: 30px 0;
}
#block-workEXP .tit4{
    margin-top: 10px;
    text-align: center;
}

#block-workEXP .work-title {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

#block-workEXP .workEXP-main {
    height: auto;
    width: auto;
    margin: 20px 0 0 10px;
}

#block-workEXP .timebox {
    margin-left: 110px;
    font-size: 29px;
}

#block-workEXP .timebox li {
    display: inline-block;
    width: 300px;
    vertical-align: top;
    /*margin-left:80px;*/
}
#block-workEXP .timebox .circle {
    height: 67px;
    width: 67px;
    border-radius: 100%;
    background: #00796b;
    position: absolute;
    left: 0%;
    margin-top: 20px;
    border: 4px solid #ffffff;
}
#block-workEXP .timebox .circle0{
    height: 67px;
    width: 67px;
    border-radius: 100%;
    background: #00796b;
    position: absolute;
    left: 30.3%;
    margin-top: 20px;
    border: 4px solid #ffffff;
}
#block-workEXP .timebox .circle1{
    height: 67px;
    width: 67px;
    border: 4px solid #ffffff;
    border-radius: 100%;
    background: #00796b;
    position: absolute;
    left: 61.8%;
    margin-top: 20px;
}
#block-workEXP .time0 {
    margin-left: 110px
}
#block-workEXP .time1 {
    margin-left: 110px
}
#block-workEXP .workbox {
    margin-left: 10px;

}

#block-workEXP .workbox li {
    padding-top: 10px;
    border-top: 8px solid rebeccapurple;
    display: inline-block;
    width: 360px;
    vertical-align: top;
    margin: 15px 30px;
}

#block-workEXP .workbox li label {
    display: block;
}

#block-workEXP .workbox .work-place {
    font-size: 26px;
    font-weight: bold
}

#block-workEXP .workbox .work-position {
    font-size: 20px;
}

#block-workEXP .workbox .work-do {
    margin-top: 10px;
    font-size: 16px;
}


/* block-prjEXP */
#block-prjEXP {
    padding: 50px 0 200px;
    width: 100%;
    background-color: #22B573;
    color: #FFFFFF;
    text-align: center;
}
#block-prjEXP .tit2{
    margin: 20px 0;
}
#block-prjEXP .content{
    width: 1200px;
    margin: 0 auto;
}
#block-prjEXP .project{
    margin-top: 30px;
    margin-left: 55px;
    display: table;
    height: 100px;
    width: 500px;
    /*background: #fff;*/
    border: 1px solid #eee;
    box-shadow: 1px 3px 3px 0 #b9b9b9;
    border-radius: 20px;
    opacity: 1;
    cursor: pointer;
    box-sizing: border-box;
    padding: 5px;
    float: left;
}
#block-prjEXP .project .pro-img{
    display: table-cell;
    vertical-align: middle;
    background: #ED6461 url(../img/helpmechoose.png) no-repeat center;
    border: 4px solid #FFFFFF;
    /*display: block;*/
    margin: 0 auto;
    height: 33px;
    width: 33px;
    border-radius: 50%;
}
#block-prjEXP .project .pro-img .iconfont{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background: #ED6461;
    font-size: 50px;
    color: #fff;
}
#block-prjEXP .project .pro-txt{
    display: table-cell;
    text-align: left;
    padding: 0 10px;
}
#block-prjEXP .project .pro-txt h3{
    font-size: 14px;
    margin-bottom: 5px;
}
#block-prjEXP .project .pro-txt p{
    font-size: 13px;
}
#block-prjEXP .project .pro-btn{
    display: table-cell;
    vertical-align: middle;
}
#block-prjEXP .project .pro-btn .pro-link{
    display: block;
    padding: 5px 10px;
    margin: 8px 0;
    color: #fff;
    background: #ef4d4d;
    border-radius: 4px;
    box-shadow: 0 3px 0 0 #ab3434;
}

/* block-wantMore */
#block-wantMore {
    width: 100%;
    background-color: #ED6461;
    color: #fff;
}

/*左侧个人信息弹出层*/
.info {
    width: 350px;
    height: 625px;
    margin-top: -295px;
    position: fixed;
    left: -350px;
    top: 50%;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    border-radius: 0 4px 4px 0;
    transition: all .3s ease;
}

/*个人信息呼出按钮*/
.info-tg {
    width: 40px;
    height: 60px;
    position: absolute;
    right: -39px;
    top: 50%;
    margin-top: -30px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    text-align: center;}
.info-arrow {
    height: 100%;
    color: #fff;
    font-size: 20px;
}

/*info内容*/
.info-box {
    padding: 15px 50px;}
.avatar {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 1000px;
    border: 2px solid #fff;
    overflow: hidden;}
.avatar img {
    width: 100%;
    height: 100%;
}

.info-li {
    padding: 0 10px 10px;
    border-bottom: 1px dashed #fff;
    margin-bottom: 15px;}
/*.info last-child {*/
/*border: none;*/
/*}*/
.info-li h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.info-li p {
    font-size: 16px;
}



/*// 左侧新闻层*/
.info {
    z-index: 110;
}
/*右侧图标*/
.nav-right{
    height: 348px;
    position: fixed;
    right:0;
    top:50%;
    margin-top: -174px;
}
.nav-right .item{
    height: 50px;
    width:50px;
    margin: 10px 0;
    background: #fe2f62;
    border-radius: 25px;
    cursor: pointer;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    position: relative;
    transition: all .8s ease;
//标签换行会使居中失效，还是绝对定位好用
}
.nav-right a{
    display: block;
}


.link {
    /*display: inline-block;*/
    height: 100px;
    width: 100px;
    text-indent: -9999em;
    -webkit-transition: 0.4s linear;
    transition: 0.4s ease-in;
}

.link:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

#link-github {
    background: url(../img/github.png) no-repeat center;
    margin-left: 76px;
}

#link-linkedin {
    /*background: url(../img/linkedin.png) no-repeat center;*/
    background: url(../img/s.png) no-repeat center;
    margin-left: 76px;
    /*height: 80px;*/
    /*width: 80px;*/
    /*border-radius: 100%;*/
}


#link-blog {
    background: url(../img/blog.png) no-repeat center;
    margin-left: 78px;
}

#link-email {
    background: url(../img/email.png) no-repeat center;
    margin-left: 76px;
}



body > a {
    height: 0;
}
