/* public */
section {
    width: 100%;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 1140px;
    height: 100%;
    z-index: 0;
}

h2 {
    font-size: 46px;
    font-weight: normal;
}

/* nav */
#block-nav {
    z-index: 999;
    position: fixed;
    top: 0px;
    height: 52px;
    background-color: #42474B;
    color: white;
}

#block-nav a {
    padding: 0 25px;
    font-size: 14px;
    line-height: 52px;
    cursor: pointer;
    z-index: 1;
    color: white;
}

#block-nav a:hover {
    color: #999;
}

#logo {
    display: inline-block;
}

/* block-intro */
#block-intro {
    height: auto;
    width: 100%;
    background-color: #1889C5;
    padding: 60px 0 100px;
}

#intro-icon {
    height: 300px;
    width: 100%;
    line-height: 300px;
}

.link {
    display: inline-block;
    height: 100px;
    width: 100px;
    text-indent: -9999em;
    -webkit-transition: 0.4s linear;
    transition: 0.4s ease-in;
}

.link:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

#link-github {
    background: url(../img/github.png) no-repeat center;
    margin-left: 76px;
}

#link-linkedin {
    background: url(../img/linkedin.png) no-repeat center;
    margin-left: 76px;
}

#myPhoto {
    height: 270px;
    width: 270px;
    display: inline-block;
    margin: 0 0 0 78px;
}

#link-blog {
    background: url(../img/blog.png) no-repeat center;
    margin-left: 78px;
}

#link-email {
    background: url(../img/email.png) no-repeat center;
    margin-left: 76px;
}

#intro-text {
    display: inline-block;
    margin: 80px 0 0 130px;
    color: white;
}

#intro-text li {
    height: 30px;
}

#intro-text ul li a {
    display: inline-block;
}

#intro-text ul li a:hover {
    border-bottom: 2px solid white;
}

#intro-text ul li span {
    display: inline-block;
    text-align: right;
    width: 70px;
}

#intro-text div {
    display: inline-block;
    width: 550px;
    margin-left: 120px;
}

#intro-text > div > p {
    margin-bottom: 26px;
}

/* block-skill */
#block-skill {
    height: auto;
    width: 100%;
    background-color: #9C58B6;
    color: #FFFFFF;
    padding-bottom: 160px;
    text-align: center;
}

#block-skill .tit3{
    margin-top: 60px;
}
#block-skill .content{
    width: auto;
    height: 300px;
    margin: 100px auto 0;
}
#block-skill .skill{
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    height: 100%;
    margin: 5px 20px;
    background: #26B1B6;
    border: 1px solid #efefef;
    box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.35);
    border-radius: 2px;
    position: relative;
    transition: transform .8s ease;
    transform-style: preserve-3d;
}
#block-skill .skill .skill-title{
    font-size: 18px;
    width: 100px;
    height: 40px;
    margin: 10px auto;
    border-bottom: 3px solid #9C58B6;
}
#block-skill .skill .skill-point {
    font-size: 16px;
    display: inline-block;
    margin: 5px 20px;
    padding: 5px 10px;
    background: rgba(255, 154, 0, 0.4);
    border-radius: 8px;
}
#block-skill .skill .backface {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    text-indent: 2em;
    text-align: justify;
    box-sizing: border-box;
    font-size: 14px;
    transform: rotateY(180deg) translateZ(1px);
    backface-visibility: hidden;
    overflow: hidden;
    background: #efefef;
}


/* block-workEXP */
#block-workEXP {
    height: auto;
    width: 100%;
    background-color: #26B1B6;
    color: #e7e7e7;
    padding: 30px 0;
    text-align: center;
}
#block-workEXP .tit4{
    margin-top: 10px;
}
#block-workEXP .content{
    width: 650px;
    height: 500px;
    margin: 50px auto 0;
}
#block-workEXP .history{
    float: left;
    width: 50px;
    height: 100%;
    margin: 0 2px;
    background: #953b39;
    border: 1px solid #eeeeee;
    border-radius: 2px;
    box-shadow: 1px 3px 3px 0 #b9b9b9;
    overflow: hidden;
    position: relative;
    transition: all .8s ease;
}
#block-workEXP .history .cur{
    width: 500px;
}
#block-workEXP .history .year{
    position:absolute;
    left:0;
    top:0;
    width: 50px;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 30px 0 0 15px;
    font-size: 18px;
    font-weight: 700;
    word-wrap: break-word;
    letter-spacing: 20px;
}
#block-workEXP .history .intro{
    position: absolute;
    left: 50px;
    top:0;
    width: 450px;
    height: 100%;
    box-sizing: border-box;
    padding: 30px;
    line-height: 2;
    text-align: left;
    word-break: break-all;
}
#block-workEXP .history .intro .company{
    font-weight: 600;
    font-size: 15px;
}
#block-workEXP .history .intro .job{
    margin-bottom: 5px;
}
#block-workEXP .history .intro dd{
    display: list-item;
    list-style-type: circle;
}


/* block-prjEXP */
#block-prjEXP {
    padding: 50px 0 200px;
    width: 100%;
    background-color: #129DE7;
    color: #FFFFFF;
    text-align: center;
}
#block-prjEXP .tit2{
    margin: 20px 0;
}
#block-prjEXP .content{
    width: 940px;
    margin: 0 auto;
}
#block-prjEXP .project{
    display: table;
    height: 100px;
    width: 450px;
    /*background: #fff;*/
    border: 1px solid #eee;
    box-shadow: 1px 3px 3px 0 #b9b9b9;
    border-radius: 2px;
    opacity: 1;
    cursor: pointer;
    box-sizing: border-box;
    padding: 5px;
}
#block-prjEXP .project .pro-img{
    display: table-cell;
    vertical-align: middle;
    background: #ED6461 url(../img/helpmechoose.png) no-repeat center;
    border: 4px solid #FFFFFF;
    /*display: block;*/
    margin: 0 auto;
    height: 33px;
    width: 33px;
    border-radius: 50%;
}

#block-prjEXP .project .pro-img .iconfont{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background: #ED6461;
    font-size: 50px;
    color: #fff;
}
#block-prjEXP .project .pro-txt{
    display: table-cell;
    text-align: left;
    padding: 0 10px;
}
#block-prjEXP .project .pro-txt h3{
    font-size: 14px;
    margin-bottom: 5px;
}
#block-prjEXP .project .pro-txt p{
    font-size: 13px;
}
#block-prjEXP .project .pro-btn{
    display: table-cell;
    vertical-align: middle;
}
#block-prjEXP .project .pro-btn .pro-link{
    display: block;
    padding: 5px 10px;
    margin: 8px 0;
    color: #fff;
    background: #ef4d4d;
    border-radius: 4px;
    box-shadow: 0 3px 0 0 #ab3434;
}
/*#block-prjEXP .prjEXP-title {*/
    /*width: 300px;*/
    /*margin: 30px auto;*/
    /*text-align: center;*/
/*}*/

/*#block-prjEXP .prjs {*/
    /*height: auto;*/
    /*width: 100%;*/
    /*margin-top: 100px;*/
    /*overflow: hidden;*/
/*}*/

/*#block-prjEXP .prj {*/
    /*float: left;*/
    /*height: auto;*/
    /*width: 240px;*/
    /*margin-left: 105px;*/
/*}*/

/*#block-prjEXP .prj .prj-logo {*/
    /*display: block;*/
    /*margin: 0 auto;*/
    /*height: 180px;*/
    /*width: 180px;*/
    /*border-radius: 50%;*/
/*}*/

/*#block-prjEXP .prj .prj-title {*/
    /*height: auto;*/
    /*width: 240px;*/
    /*margin: 20px 0;*/
    /*font-size: 26px;*/
    /*text-align: center;*/
/*}*/

/*#block-prjEXP .prj .prj-intro {*/
    /*height: auto;*/
    /*width: 240px;*/
    /*font-size: 20px;*/
    /*text-indent: 1em*/
/*}*/

#block-prjEXP #prj-helpmechoose .prj-logo {
    background: #ED6461 url(../img/helpmechoose.png) no-repeat center;
    border: 4px solid #FFFFFF;
}

/*#block-prjEXP #prj-navFixed .prj-title a:hover {*/
    /*border-bottom: 3px solid white;*/
/*}*/

/*#block-prjEXP #prj-navFixed .prj-logo {*/
    /*background: #9C58B6 url(../img/navFixed.png) no-repeat center;*/
    /*border: 4px solid #FFFFFF;*/
/*}*/

/*#block-prjEXP #prj-integralSystem .prj-logo {*/
    /*background: #16CC70 url(../img/integralSystem.png) no-repeat center;*/
    /*border: 4px solid #FFFFFF;*/
/*}*/


/* block-wantMore */
#block-wantMore {
    width: 100%;
    background-color: #ED6461;
    color: #fff;
}

/*// 左侧个人信息弹出层*/
.info {
    width: 350px;
    height: 590px;
    margin-top: -295px;
    position: fixed;
    left: -350px;
    top: 50%;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    border-radius: 0 4px 4px 0;
    transition: all .3s ease;
}

/*//个人信息呼出按钮*/
.info-tg {
    width: 40px;
    height: 60px;
    position: absolute;
    right: -39px;
    top: 50%;
    margin-top: -30px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    text-align: center;}
.info-arrow {
    height: 100%;
    color: #fff;
    font-size: 20px;
}

/*//info内容*/
.info-box {
    padding: 15px 50px;}
.avatar {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 1000px;
    border: 2px solid #fff;
    overflow: hidden;}
.avatar img {
    width: 100%;
    height: 100%;
}

.info-li {
    padding: 0 10px 10px;
    border-bottom: 1px dashed #fff;
    margin-bottom: 15px;}
/*.info last-child {*/
/*border: none;*/
/*}*/
.info-li h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.info-li p {
    font-size: 16px;
}



/*// 左侧新闻层*/
.info {
    z-index: 110;
}


/* ç™¾åº¦ç»Ÿè®¡ */
body > a {
    height: 0;
}
