/* public */
section {
    width: 100%;
    overflow: hidden;
    min-width: 660px;
}

h2 {
    font-size: 46px;
    font-weight: normal;
}

/* nav */
#block-nav {
    z-index: 999;
    position: fixed;
    top: 0px;
    height: 52px;
    background-color: #42474B;
    color: white;
}

#block-nav a {
    padding: 0 25px;
    font-size: 14px;
    line-height: 52px;
    cursor: pointer;
    z-index: 1;
    color: white;
}

#block-nav a:hover {
    color: #999;
}

#logo {
    display: inline-block;
}

/* block-intro */
#block-intro {
    height: auto;
    width: 100%;
    background-color: #22B573;
    padding: 60px 0 100px;
    /*display: inline-block;*/
}

#intro-icon1 {
    height: 400px;
    width: 90%;
    margin: 15% 0 15% 50%;
    /*left: 20%;*/
    display: inline-block;
    border: 8px solid #ffffff;
    border-radius: 20px;
    background: #ee5f5b;
    /*float: left;*/
}
#intro-icon2 {
    position: relative;
    height: 400px;
    width: 110%;
    left: 5%;
    top: 5%;
    display: inline-block;
    border: 8px solid #ffffff;
    border-radius: 20px;
    background: #5bb75b;
}
#myPhoto {
    position: relative;
    height: 400px;
    width: 110%;
    left: 5%;
    top: 5%;
    border: 8px solid #ffffff;
    border-radius: 20px;
}

.intro-text {
    margin: 4% 5% 0 25%;
    color: white;
    height: 500px;
    width: 100%;
}

.intro-text p {
    margin-bottom: 20px;
    font-size: 16px;
}
.intro-text h2 {
    line-height: 50px;
    width: 650px;
}

/* block-skill */
#block-skill {
    height: 800px;
    width: 100%;
    background-color: #22B573;
    color: #ffffff;
    padding-bottom: 160px;
    text-align: center;
}
#block-skill .tit3{
    margin-top: 60px;
}
#block-skill .content{
    width: auto;
    height: 330px;
    margin: 30px auto 0;
    color: #00796b;
}
#block-skill .skill{
    display: inline-block;
    vertical-align: middle;
    width: 210px;
    height: 100%;
    margin: 5px 10px;
    background: #ffffff;
    border: 1px solid #efefef;
    box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    position: relative;
    transition: transform .8s ease;
    transform-style: preserve-3d;
}
#block-skill .skill .skill-title{
    font-size: 18px;
    width: 200px;
    height: 40px;
    margin: 10px auto;
    border-bottom: 5px solid #ef4d4d;
}
#block-skill .skill dd{
    margin-top: 8px;
}
#block-skill .skill .skill-name{
    width: 100px;
    font-size: 14px;
    display: inline-block;
    position: relative;
    left: 0;
    top: 5px;
}
#block-skill .skill .skill-bar-wrap{
    height: 17px;
    width: 100px;
    background: #ffffff;
    border: 1px solid #5bb75b;
    display: inline-block;
    border-radius: 20px;
    position: relative;
    top: 8px;
}
#block-skill .skill .skill-bar{
    height: 17px;
    background: #22B573;
    border-radius: 20px 0 0 20px;
}

/* block-workEXP */
#block-workEXP {
    height: auto;
    width: 100%;
    background-color: #22B573;
    color: #e7e7e7;
    padding: 30px 0;
}
#block-workEXP .tit4{
    margin-top: 30px;
    text-align: center;
}
#block-workEXP .work-title {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}
#block-workEXP .workEXP-main {
    height: auto;
    width: auto;
    margin: 20px 0 0 10px;
}
#block-workEXP .workbox {
    margin-left: 20%;
}
#block-workEXP .time {
    border-bottom: 5px solid #fff;
    margin-bottom: 20px;
}
#block-workEXP .time0 {
    border-bottom: 5px solid #fff;
    margin-bottom: 20px;
}
#block-workEXP .time1 {
    border-bottom: 5px solid #fff;
    margin-bottom: 20px;
}
#block-workEXP .circle {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    background: #22B573;
    position: relative;
    left: -20%;
    margin-top: -70px;
    border: 4px solid #ffffff;
}
#block-workEXP .circle0{
    height: 70px;
    width: 70px;
    border-radius: 100%;
    background: #22B573;
    position: relative;
    left: -20%;
    margin-top: -70px;
    border: 4px solid #ffffff;
}
#block-workEXP .circle1{
    height: 70px;
    width: 70px;
    border-radius: 100%;
    background: #22B573;
    position: relative;
    left: -20%;
    margin-top: -70px;
    border: 4px solid #ffffff;
}
#block-workEXP .workbox p{
    text-align: center;
    font-size: 30px;
}
#block-workEXP .workbox li {
    padding-top: 10px;
    display: inline-block;
    width: 360px;
    vertical-align: top;
    margin: 15px 25px;
}
#block-workEXP .workbox li label {
    display: block;
}
#block-workEXP .workbox .work-place {
    font-size: 26px;
    font-weight: bold
}
#block-workEXP .workbox .work-position {
    font-size: 20px;
}
#block-workEXP .workbox .work-do {
    margin-top: 10px;
    font-size: 16px;
}

/* block-prjEXP */
#block-prjEXP {
    padding: 50px 0 200px;
    width: 100%;
    background-color: #22B573;
    color: #FFFFFF;
    text-align: center;
}
#block-prjEXP .tit2{
    margin: 20px 0;
}
#block-prjEXP .content{
    width: auto;
    height: auto;
    margin: 0 auto;
}
#block-prjEXP .project{
    margin: 20px 0 0 40px;
    display: table;
    height: 170px;
    width: 500px;
    border: 3px solid #eee;
    box-shadow: 1px 3px 3px 0 #b9b9b9;
    border-radius: 20px;
    opacity: 1;
    cursor: pointer;
    box-sizing: border-box;
    padding: 5px;
    left:10%;
    /*float: left;*/
}

/*@media screen and (max-device-width: 650px) {*/

    /*#block-prjEXP .content{*/
        /*width: auto;*/
        /*height: auto;*/
        /*margin: 0 auto;*/
        /*background: red;*/
    /*}*/

    /*#block-prjEXP .project{*/
        /*margin: 20px 0 0 40px;*/
        /*display: table;*/
        /*height: 150px;*/
        /*width: 500px;*/
        /*border: 3px solid #eee;*/
        /*box-shadow: 1px 3px 3px 0 #b9b9b9;*/
        /*border-radius: 20px;*/
        /*opacity: 1;*/
        /*cursor: pointer;*/
        /*box-sizing: border-box;*/
        /*padding: 5px;*/
        /*float: right;*/
    /*}*/
/*}*/
#block-prjEXP .project .pro-img{
    display: table-cell;
    vertical-align: middle;
    margin: -10px auto;
    position: relative;
    line-height: 90px;
}
#block-prjEXP .project .pro-img .iconfont{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 5px solid #ffffff;
    background: green;
    font-size: 50px;
    color: #fff;
}
#block-prjEXP .project .pro-txt{
    text-align: left;
    width: auto;
    /*width: 400px;*/
    padding: 5px 10px;
    height: 270px;
}
#block-prjEXP .project .pro-txt h3{
    font-size: 14px;
    margin-bottom: 5px;
}
#block-prjEXP .project .pro-txt p{
    font-size: 13px;
}
#block-prjEXP .project .pro-btn{
    display: table-cell;
    vertical-align: middle;
    width: 50px;
    height: 50px;
}
#block-prjEXP .project .pro-btn .pro-link{
    display: block;
    padding: 5px 10px;
    margin: 8px 0;
    color: #fff;
    background:green ;
    border-radius: 20px;
    border: 3px solid #fff;
}


/*左侧个人信息弹出层*/
.info {
    width: 350px;
    height: 625px;
    margin-top: -295px;
    position: fixed;
    left: -350px;
    top: 50%;
    color: #fff;
    background: rgba(0, 0, 0, .8);
    border-radius: 0 4px 4px 0;
    transition: all .3s ease;
}

/*个人信息呼出按钮*/
.info-tg {
    width: 40px;
    height: 45px;
    position: absolute;
    right: -39px;
    top: 50%;
    margin-top: -30px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    text-align: center;}
.info-arrow {
    height: 100%;
    color: #fff;
    font-size: 20px;
}

/*info内容*/
.info-box {
    padding: 15px 50px;
}
.avatar {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 1000px;
    border: 2px solid #fff;
    overflow: hidden;}
.avatar img {
    width: 100%;
    height: 100%;
}

.info-li {
    padding: 0 10px 10px;
    border-bottom: 1px dashed #fff;
    margin-bottom: 15px;}

.info-li h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.info-li p {
    font-size: 16px;
}

/*左侧新闻层*/
.info {
    z-index: 110;
}
/*右侧图标*/
.nav-right{
    height: 348px;
    position: fixed;
    right:0;
    top:50%;
    margin-top: -174px;
}
/*.nav-right .item{*/
    /*height: 50px;*/
    /*width:50px;*/
    /*margin: 10px 0;*/
    /*background: #fe2f62;*/
    /*border-radius: 25px;*/
    /*cursor: pointer;*/
    /*font-size: 30px;*/
    /*color: #ffffff;*/
    /*text-align: center;*/
    /*position: relative;*/
    /*transition: all .8s ease;*/
/*//标签换行会使居中失效，还是绝对定位好用*/
/*}*/
.nav-right a{
    display: block;
}

.right{
    position: relative;
    height: 75px;
    width:75px;
    border-radius: 100%;
    background: black;
    color: #ffffff;
    text-align: center;
    left: -10%;
    margin-top: 20px;
    line-height: 70px;

    /*text-indent: -9999em;*/
    -webkit-transition: 0.4s linear;
    transition: 0.4s ease-in;

}

.right:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

body > a {
    height: 0;
}
